@charset 'UTF-8';

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(255, 255, 255);
}

img {
    width: 200px;
    margin: 20px 155px;
    padding: 20px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, rgb(182, 7, 182), purple, rgb(82, 1, 82));
    box-shadow: 0px 0px 20px rgba(204, 0, 255, 0.555);
}

table {
    width: 580px;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
}

section {
    background-color: rgb(235, 235, 235);
    width: 581px;
}